V4.0/Services/ATP.SvcsLibrary/Service References/ErrorLogSvcRef/ErrorLog1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.AdamKiosks.com/Service/ErrorLog" elementFormDefault="qualified" targetNamespace="http://www.AdamKiosks.com/Service/ErrorLog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInformationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>