V4.0/V4.0_remov/V4.0/Services/ATP.SvcsLibrary/Service References/ErrorLogSvcRef/ErrorLog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.AdamKiosks.com/Service/ErrorLog" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.AdamKiosks.com/Service/ErrorLog" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.AdamKiosks.com/Service/ErrorLog/Imports">
      <xsd:import schemaLocation="http://www.adamkiosks.com/ATPServices/ErrorLog.svc?xsd=xsd0" namespace="http://www.AdamKiosks.com/Service/ErrorLog" />
      <xsd:import schemaLocation="http://www.adamkiosks.com/ATPServices/ErrorLog.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IErrorLog_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="IErrorLog_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IErrorLog_LogInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInformation" />
  </wsdl:message>
  <wsdl:message name="IErrorLog_LogInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IErrorLog">
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://www.AdamKiosks.com/Service/ErrorLog/IErrorLog/LogError" message="tns:IErrorLog_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://www.AdamKiosks.com/Service/ErrorLog/IErrorLog/LogErrorResponse" message="tns:IErrorLog_LogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInformation">
      <wsdl:input wsaw:Action="http://www.AdamKiosks.com/Service/ErrorLog/IErrorLog/LogInformation" message="tns:IErrorLog_LogInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.AdamKiosks.com/Service/ErrorLog/IErrorLog/LogInformationResponse" message="tns:IErrorLog_LogInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>