OutDoorCustomer/Service References/ServiceReference1/ATPData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.AdamKiosks.com/ATPData" elementFormDefault="qualified" targetNamespace="http://www.AdamKiosks.com/ATPData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ATPData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATPData" nillable="true" type="tns:ATPData" />
</xs:schema>