V4.0/Services/ATP.SvcsLibrary/Service References/DealerSvcRef/Dealer1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/Imports">
      <xsd:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd0" namespace="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer" />
      <xsd:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATP.DataModel" />
      <xsd:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd4" namespace="http://www.AdamKiosks.com/Customer" />
      <xsd:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ATP.DataModel.DataTables" />
      <xsd:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd6" namespace="http://www.AdamKiosks.com/ATPServiceData" />
      <xsd:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd7" namespace="http://www.AdamKiosks.com/ATPData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDealer_SelExpSvcsStatByDealerId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelExpSvcsStatByDealerId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelExpSvcsStatByDealerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelExpSvcsStatByDealerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelSvcTypeByPkgId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelSvcTypeByPkgId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelSvcTypeByPkgId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelSvcTypeByPkgIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServiceImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServiceImage" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServiceImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServiceImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_DelVehicleServiceImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DelVehicleServiceImage" />
  </wsdl:message>
  <wsdl:message name="IDealer_DelVehicleServiceImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelVehicleServiceImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsVehicleServiceImage_InputMessage">
    <wsdl:part name="parameters" element="tns:InsVehicleServiceImage" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsVehicleServiceImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsVehicleServiceImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInByUserName" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInByVIN_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInByVIN" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInByVIN_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInByVINResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInByIdCard_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInByIdCard" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInByIdCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInByIdCardResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInByCreditCard_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInByCreditCard" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInByCreditCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInByCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYears" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMakes" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMakesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModels" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetTrims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrims" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetTrims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrimsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInformation" />
  </wsdl:message>
  <wsdl:message name="IDealer_LogInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_PingMe_InputMessage">
    <wsdl:part name="parameters" element="tns:PingMe" />
  </wsdl:message>
  <wsdl:message name="IDealer_PingMe_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingMeResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_CreateNewCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCustomer" />
  </wsdl:message>
  <wsdl:message name="IDealer_CreateNewCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPISubmitHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:SelMPISubmitHistory" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPISubmitHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelMPISubmitHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_CloseVehicleSericeRO_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseVehicleSericeRO" />
  </wsdl:message>
  <wsdl:message name="IDealer_CloseVehicleSericeRO_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseVehicleSericeROResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServiceMPIStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServiceMPIStatus" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServiceMPIStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServiceMPIStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPIVehicleServiceByDealerId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelMPIVehicleServiceByDealerId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPIVehicleServiceByDealerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelMPIVehicleServiceByDealerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertMPIByPersonGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertMPIByPersonGuid" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertMPIByPersonGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertMPIByPersonGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelCustomerByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:SelCustomerByGuid" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelCustomerByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelCustomerByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_CloseVehicleSericeTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseVehicleSericeTask" />
  </wsdl:message>
  <wsdl:message name="IDealer_CloseVehicleSericeTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseVehicleSericeTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateMPICost_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMPICost" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateMPICost_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMPICostResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicePricing_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicePricing" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicePricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicePricingResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicePricingSW_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicePricingSW" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicePricingSW_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicePricingSWResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicePricingTech_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicePricingTech" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicePricingTech_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicePricingTechResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicePricingParts_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicePricingParts" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicePricingParts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicePricingPartsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UPSertVehicleServicePricing_InputMessage">
    <wsdl:part name="parameters" element="tns:UPSertVehicleServicePricing" />
  </wsdl:message>
  <wsdl:message name="IDealer_UPSertVehicleServicePricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:UPSertVehicleServicePricingResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicesByDealerEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicesByDealerEmp" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleServicesByDealerEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleServicesByDealerEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateIsVehicleInShop_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsVehicleInShop" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateIsVehicleInShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsVehicleInShopResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPIImages_InputMessage">
    <wsdl:part name="parameters" element="tns:SelMPIImages" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPIImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelMPIImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_uspUpSertMPIImages_InputMessage">
    <wsdl:part name="parameters" element="tns:uspUpSertMPIImages" />
  </wsdl:message>
  <wsdl:message name="IDealer_uspUpSertMPIImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:uspUpSertMPIImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonGroup" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateDealerMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDealerMsg" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateDealerMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDealerMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateDealerMsgBell_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDealerMsgBell" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateDealerMsgBell_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDealerMsgBellResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdatePersonVehicleLite_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonVehicleLite" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdatePersonVehicleLite_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonVehicleLiteResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertDealerKiosk_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertDealerKiosk" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertDealerKiosk_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertDealerKioskResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertDealerContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertDealerContacts" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertDealerContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertDealerContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertDealerEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertDealerEmployee" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertDealerEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertDealerEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelAdminMPIListByDealerId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelAdminMPIListByDealerId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelAdminMPIListByDealerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelAdminMPIListByDealerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerKiosks_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerKiosks" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerKiosks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerKiosksResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelAllMPIGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:SelAllMPIGroups" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelAllMPIGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelAllMPIGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelAllMPIItems_InputMessage">
    <wsdl:part name="parameters" element="tns:SelAllMPIItems" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelAllMPIItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelAllMPIItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertDealerMPIGroupItems_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertDealerMPIGroupItems" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertDealerMPIGroupItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertDealerMPIGroupItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateKioskResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKioskResetPassword" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateKioskResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKioskResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPIListByDealerId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelMPIListByDealerId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPIListByDealerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelMPIListByDealerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPICountByServiceGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:SelMPICountByServiceGuid" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelMPICountByServiceGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelMPICountByServiceGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelKioskByMachineId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelKioskByMachineId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelKioskByMachineId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelKioskByMachineIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsertAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAddress" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsertAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetDealerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealerDetails" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetDealerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerByFamilyId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerByFamilyId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerByFamilyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerByFamilyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerDetailsById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerDetailsById" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerDetailsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateAllServiceStatusToComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllServiceStatusToComplete" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateAllServiceStatusToComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllServiceStatusToCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_RegisterCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomer" />
  </wsdl:message>
  <wsdl:message name="IDealer_RegisterCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_VerifySendAlertsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifySendAlertsUser" />
  </wsdl:message>
  <wsdl:message name="IDealer_VerifySendAlertsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifySendAlertsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerDept_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerDept" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerDept_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerDeptResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerEmployees" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerPreTextMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerPreTextMessage" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerPreTextMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerPreTextMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerMessage" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerMsgHist_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerMsgHist" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerMsgHist_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerMsgHistResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelCustomerLite_InputMessage">
    <wsdl:part name="parameters" element="tns:SelCustomerLite" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelCustomerLite_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelCustomerLiteResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsDealerMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:InsDealerMsg" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsDealerMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsDealerMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertPreTextMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertPreTextMessage" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertPreTextMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertPreTextMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LoginDealerEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginDealerEmployee" />
  </wsdl:message>
  <wsdl:message name="IDealer_LoginDealerEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginDealerEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_LoginDealerEmployeeByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginDealerEmployeeByEmail" />
  </wsdl:message>
  <wsdl:message name="IDealer_LoginDealerEmployeeByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginDealerEmployeeByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerEmpPages_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerEmpPages" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerEmpPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerEmpPagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerEmpPagesAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerEmpPagesAdmin" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelDealerEmpPagesAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelDealerEmpPagesAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateEmpPagesAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpPagesAdmin" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateEmpPagesAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpPagesAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelKeyLockerOpenPeg_InputMessage">
    <wsdl:part name="parameters" element="tns:SelKeyLockerOpenPeg" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelKeyLockerOpenPeg_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelKeyLockerOpenPegResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdKeyLockerPeg_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdKeyLockerPeg" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdKeyLockerPeg_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdKeyLockerPegResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehSvcsWebARCH_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehSvcsWebARCH" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehSvcsWebARCH_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehSvcsWebARCHResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehSvcsForARCH_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehSvcsForARCH" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehSvcsForARCH_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehSvcsForARCHResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehAlertByVehsSvcGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehAlertByVehsSvcGuid" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehAlertByVehsSvcGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehAlertByVehsSvcGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_ScheduleService_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleService" />
  </wsdl:message>
  <wsdl:message name="IDealer_ScheduleService_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelLookUpTable_InputMessage">
    <wsdl:part name="parameters" element="tns:SelLookUpTable" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelLookUpTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelLookUpTableResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelLookUpTableByDealerId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelLookUpTableByDealerId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelLookUpTableByDealerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelLookUpTableByDealerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsVehAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:InsVehAlert" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsVehAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsVehAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpSertEmailAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpSertEmailAddress" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpSertEmailAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpSertEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpSertPhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:UpSertPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpSertPhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpSertPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpSertPhoneByPersonGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:UpSertPhoneByPersonGuid" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpSertPhoneByPersonGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpSertPhoneByPersonGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpSertEmailByPersonGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:UpSertEmailByPersonGuid" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpSertEmailByPersonGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpSertEmailByPersonGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsertVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVehicle" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsertVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsertPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPerson" />
  </wsdl:message>
  <wsdl:message name="IDealer_InsertPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleByPersonId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleByPersonId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleByPersonId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleByPersonIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonByGuid" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonById" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonByUserName" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonByLastFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonByLastFirstName" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPersonByLastFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelPersonByLastFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleById" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertVehicleServiceMPI_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertVehicleServiceMPI" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpsertVehicleServiceMPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertVehicleServiceMPIResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateVehiceServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehiceServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IDealer_UpdateVehiceServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehiceServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetServicePackages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServicePackages" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetServicePackages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicePackagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetServiceTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceTypes" />
  </wsdl:message>
  <wsdl:message name="IDealer_GetServiceTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPackageByDealerId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelPackageByDealerId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelPackageByDealerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelPackageByDealerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelNextExpressNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:SelNextExpressNumber" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelNextExpressNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelNextExpressNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelServiceTypeEmails_InputMessage">
    <wsdl:part name="parameters" element="tns:SelServiceTypeEmails" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelServiceTypeEmails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelServiceTypeEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleSvcsByDealerId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleSvcsByDealerId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleSvcsByDealerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleSvcsByDealerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleSvcsByPersonId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleSvcsByPersonId" />
  </wsdl:message>
  <wsdl:message name="IDealer_SelVehicleSvcsByPersonId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelVehicleSvcsByPersonIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDealer">
    <wsdl:operation name="SelExpSvcsStatByDealerId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelExpSvcsStatByDealerId" message="tns:IDealer_SelExpSvcsStatByDealerId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelExpSvcsStatByDealerIdResponse" message="tns:IDealer_SelExpSvcsStatByDealerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelSvcTypeByPkgId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelSvcTypeByPkgId" message="tns:IDealer_SelSvcTypeByPkgId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelSvcTypeByPkgIdResponse" message="tns:IDealer_SelSvcTypeByPkgId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleServiceImage">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServiceImage" message="tns:IDealer_SelVehicleServiceImage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServiceImageResponse" message="tns:IDealer_SelVehicleServiceImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelVehicleServiceImage">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/DelVehicleServiceImage" message="tns:IDealer_DelVehicleServiceImage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/DelVehicleServiceImageResponse" message="tns:IDealer_DelVehicleServiceImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsVehicleServiceImage">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsVehicleServiceImage" message="tns:IDealer_InsVehicleServiceImage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsVehicleServiceImageResponse" message="tns:IDealer_InsVehicleServiceImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInByUserName">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInByUserName" message="tns:IDealer_LogInByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInByUserNameResponse" message="tns:IDealer_LogInByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInByVIN">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInByVIN" message="tns:IDealer_LogInByVIN_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInByVINResponse" message="tns:IDealer_LogInByVIN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInByIdCard">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInByIdCard" message="tns:IDealer_LogInByIdCard_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInByIdCardResponse" message="tns:IDealer_LogInByIdCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInByCreditCard">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInByCreditCard" message="tns:IDealer_LogInByCreditCard_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInByCreditCardResponse" message="tns:IDealer_LogInByCreditCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogOut" message="tns:IDealer_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogOutResponse" message="tns:IDealer_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetYears" message="tns:IDealer_GetYears_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetYearsResponse" message="tns:IDealer_GetYears_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMakes">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetMakes" message="tns:IDealer_GetMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetMakesResponse" message="tns:IDealer_GetMakes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetModels" message="tns:IDealer_GetModels_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetModelsResponse" message="tns:IDealer_GetModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrims">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetTrims" message="tns:IDealer_GetTrims_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetTrimsResponse" message="tns:IDealer_GetTrims_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogError" message="tns:IDealer_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogErrorResponse" message="tns:IDealer_LogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInformation">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInformation" message="tns:IDealer_LogInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LogInformationResponse" message="tns:IDealer_LogInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingMe">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/PingMe" message="tns:IDealer_PingMe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/PingMeResponse" message="tns:IDealer_PingMe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCustomer">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/CreateNewCustomer" message="tns:IDealer_CreateNewCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/CreateNewCustomerResponse" message="tns:IDealer_CreateNewCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelMPISubmitHistory">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPISubmitHistory" message="tns:IDealer_SelMPISubmitHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPISubmitHistoryResponse" message="tns:IDealer_SelMPISubmitHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseVehicleSericeRO">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/CloseVehicleSericeRO" message="tns:IDealer_CloseVehicleSericeRO_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/CloseVehicleSericeROResponse" message="tns:IDealer_CloseVehicleSericeRO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleServiceMPIStatus">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServiceMPIStatus" message="tns:IDealer_SelVehicleServiceMPIStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServiceMPIStatusResponse" message="tns:IDealer_SelVehicleServiceMPIStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelMPIVehicleServiceByDealerId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPIVehicleServiceByDealerId" message="tns:IDealer_SelMPIVehicleServiceByDealerId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPIVehicleServiceByDealerIdResponse" message="tns:IDealer_SelMPIVehicleServiceByDealerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertMPIByPersonGuid">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertMPIByPersonGuid" message="tns:IDealer_UpsertMPIByPersonGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertMPIByPersonGuidResponse" message="tns:IDealer_UpsertMPIByPersonGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelCustomerByGuid">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelCustomerByGuid" message="tns:IDealer_SelCustomerByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelCustomerByGuidResponse" message="tns:IDealer_SelCustomerByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseVehicleSericeTask">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/CloseVehicleSericeTask" message="tns:IDealer_CloseVehicleSericeTask_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/CloseVehicleSericeTaskResponse" message="tns:IDealer_CloseVehicleSericeTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMPICost">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateMPICost" message="tns:IDealer_UpdateMPICost_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateMPICostResponse" message="tns:IDealer_UpdateMPICost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleServicePricing">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicePricing" message="tns:IDealer_SelVehicleServicePricing_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicePricingResponse" message="tns:IDealer_SelVehicleServicePricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleServicePricingSW">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicePricingSW" message="tns:IDealer_SelVehicleServicePricingSW_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicePricingSWResponse" message="tns:IDealer_SelVehicleServicePricingSW_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleServicePricingTech">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicePricingTech" message="tns:IDealer_SelVehicleServicePricingTech_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicePricingTechResponse" message="tns:IDealer_SelVehicleServicePricingTech_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleServicePricingParts">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicePricingParts" message="tns:IDealer_SelVehicleServicePricingParts_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicePricingPartsResponse" message="tns:IDealer_SelVehicleServicePricingParts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UPSertVehicleServicePricing">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UPSertVehicleServicePricing" message="tns:IDealer_UPSertVehicleServicePricing_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UPSertVehicleServicePricingResponse" message="tns:IDealer_UPSertVehicleServicePricing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleServicesByDealerEmp">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicesByDealerEmp" message="tns:IDealer_SelVehicleServicesByDealerEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleServicesByDealerEmpResponse" message="tns:IDealer_SelVehicleServicesByDealerEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsVehicleInShop">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateIsVehicleInShop" message="tns:IDealer_UpdateIsVehicleInShop_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateIsVehicleInShopResponse" message="tns:IDealer_UpdateIsVehicleInShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelMPIImages">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPIImages" message="tns:IDealer_SelMPIImages_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPIImagesResponse" message="tns:IDealer_SelMPIImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="uspUpSertMPIImages">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/uspUpSertMPIImages" message="tns:IDealer_uspUpSertMPIImages_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/uspUpSertMPIImagesResponse" message="tns:IDealer_uspUpSertMPIImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelPersonGroup">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonGroup" message="tns:IDealer_SelPersonGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonGroupResponse" message="tns:IDealer_SelPersonGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDealerMsg">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateDealerMsg" message="tns:IDealer_UpdateDealerMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateDealerMsgResponse" message="tns:IDealer_UpdateDealerMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDealerMsgBell">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateDealerMsgBell" message="tns:IDealer_UpdateDealerMsgBell_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateDealerMsgBellResponse" message="tns:IDealer_UpdateDealerMsgBell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonVehicleLite">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdatePersonVehicleLite" message="tns:IDealer_UpdatePersonVehicleLite_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdatePersonVehicleLiteResponse" message="tns:IDealer_UpdatePersonVehicleLite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertDealerKiosk">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertDealerKiosk" message="tns:IDealer_UpsertDealerKiosk_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertDealerKioskResponse" message="tns:IDealer_UpsertDealerKiosk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertDealerContacts">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertDealerContacts" message="tns:IDealer_UpsertDealerContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertDealerContactsResponse" message="tns:IDealer_UpsertDealerContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertDealerEmployee">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertDealerEmployee" message="tns:IDealer_UpsertDealerEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertDealerEmployeeResponse" message="tns:IDealer_UpsertDealerEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelAdminMPIListByDealerId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelAdminMPIListByDealerId" message="tns:IDealer_SelAdminMPIListByDealerId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelAdminMPIListByDealerIdResponse" message="tns:IDealer_SelAdminMPIListByDealerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerKiosks">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerKiosks" message="tns:IDealer_SelDealerKiosks_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerKiosksResponse" message="tns:IDealer_SelDealerKiosks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelAllMPIGroups">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelAllMPIGroups" message="tns:IDealer_SelAllMPIGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelAllMPIGroupsResponse" message="tns:IDealer_SelAllMPIGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelAllMPIItems">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelAllMPIItems" message="tns:IDealer_SelAllMPIItems_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelAllMPIItemsResponse" message="tns:IDealer_SelAllMPIItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertDealerMPIGroupItems">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertDealerMPIGroupItems" message="tns:IDealer_UpsertDealerMPIGroupItems_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertDealerMPIGroupItemsResponse" message="tns:IDealer_UpsertDealerMPIGroupItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKioskResetPassword">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateKioskResetPassword" message="tns:IDealer_UpdateKioskResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateKioskResetPasswordResponse" message="tns:IDealer_UpdateKioskResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelMPIListByDealerId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPIListByDealerId" message="tns:IDealer_SelMPIListByDealerId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPIListByDealerIdResponse" message="tns:IDealer_SelMPIListByDealerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelMPICountByServiceGuid">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPICountByServiceGuid" message="tns:IDealer_SelMPICountByServiceGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelMPICountByServiceGuidResponse" message="tns:IDealer_SelMPICountByServiceGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelKioskByMachineId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelKioskByMachineId" message="tns:IDealer_SelKioskByMachineId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelKioskByMachineIdResponse" message="tns:IDealer_SelKioskByMachineId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAddress">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsertAddress" message="tns:IDealer_InsertAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsertAddressResponse" message="tns:IDealer_InsertAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealerDetails">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetDealerDetails" message="tns:IDealer_GetDealerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetDealerDetailsResponse" message="tns:IDealer_GetDealerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerByFamilyId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerByFamilyId" message="tns:IDealer_SelDealerByFamilyId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerByFamilyIdResponse" message="tns:IDealer_SelDealerByFamilyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerDetailsById">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerDetailsById" message="tns:IDealer_SelDealerDetailsById_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerDetailsByIdResponse" message="tns:IDealer_SelDealerDetailsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllServiceStatusToComplete">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateAllServiceStatusToComplete" message="tns:IDealer_UpdateAllServiceStatusToComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateAllServiceStatusToCompleteResponse" message="tns:IDealer_UpdateAllServiceStatusToComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/RegisterCustomer" message="tns:IDealer_RegisterCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/RegisterCustomerResponse" message="tns:IDealer_RegisterCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifySendAlertsUser">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/VerifySendAlertsUser" message="tns:IDealer_VerifySendAlertsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/VerifySendAlertsUserResponse" message="tns:IDealer_VerifySendAlertsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerDept">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerDept" message="tns:IDealer_SelDealerDept_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerDeptResponse" message="tns:IDealer_SelDealerDept_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerEmployees">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerEmployees" message="tns:IDealer_SelDealerEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerEmployeesResponse" message="tns:IDealer_SelDealerEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerPreTextMessage">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerPreTextMessage" message="tns:IDealer_SelDealerPreTextMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerPreTextMessageResponse" message="tns:IDealer_SelDealerPreTextMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerMessage">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerMessage" message="tns:IDealer_SelDealerMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerMessageResponse" message="tns:IDealer_SelDealerMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerMsgHist">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerMsgHist" message="tns:IDealer_SelDealerMsgHist_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerMsgHistResponse" message="tns:IDealer_SelDealerMsgHist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelCustomerLite">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelCustomerLite" message="tns:IDealer_SelCustomerLite_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelCustomerLiteResponse" message="tns:IDealer_SelCustomerLite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsDealerMsg">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsDealerMsg" message="tns:IDealer_InsDealerMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsDealerMsgResponse" message="tns:IDealer_InsDealerMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertPreTextMessage">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertPreTextMessage" message="tns:IDealer_UpsertPreTextMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertPreTextMessageResponse" message="tns:IDealer_UpsertPreTextMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginDealerEmployee">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LoginDealerEmployee" message="tns:IDealer_LoginDealerEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LoginDealerEmployeeResponse" message="tns:IDealer_LoginDealerEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginDealerEmployeeByEmail">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LoginDealerEmployeeByEmail" message="tns:IDealer_LoginDealerEmployeeByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/LoginDealerEmployeeByEmailResponse" message="tns:IDealer_LoginDealerEmployeeByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerEmpPages">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerEmpPages" message="tns:IDealer_SelDealerEmpPages_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerEmpPagesResponse" message="tns:IDealer_SelDealerEmpPages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelDealerEmpPagesAdmin">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerEmpPagesAdmin" message="tns:IDealer_SelDealerEmpPagesAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelDealerEmpPagesAdminResponse" message="tns:IDealer_SelDealerEmpPagesAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpPagesAdmin">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateEmpPagesAdmin" message="tns:IDealer_UpdateEmpPagesAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateEmpPagesAdminResponse" message="tns:IDealer_UpdateEmpPagesAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelKeyLockerOpenPeg">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelKeyLockerOpenPeg" message="tns:IDealer_SelKeyLockerOpenPeg_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelKeyLockerOpenPegResponse" message="tns:IDealer_SelKeyLockerOpenPeg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdKeyLockerPeg">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdKeyLockerPeg" message="tns:IDealer_UpdKeyLockerPeg_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdKeyLockerPegResponse" message="tns:IDealer_UpdKeyLockerPeg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehSvcsWebARCH">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehSvcsWebARCH" message="tns:IDealer_SelVehSvcsWebARCH_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehSvcsWebARCHResponse" message="tns:IDealer_SelVehSvcsWebARCH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehSvcsForARCH">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehSvcsForARCH" message="tns:IDealer_SelVehSvcsForARCH_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehSvcsForARCHResponse" message="tns:IDealer_SelVehSvcsForARCH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehAlertByVehsSvcGuid">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehAlertByVehsSvcGuid" message="tns:IDealer_SelVehAlertByVehsSvcGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehAlertByVehsSvcGuidResponse" message="tns:IDealer_SelVehAlertByVehsSvcGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleService">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/ScheduleService" message="tns:IDealer_ScheduleService_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/ScheduleServiceResponse" message="tns:IDealer_ScheduleService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelLookUpTable">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelLookUpTable" message="tns:IDealer_SelLookUpTable_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelLookUpTableResponse" message="tns:IDealer_SelLookUpTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelLookUpTableByDealerId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelLookUpTableByDealerId" message="tns:IDealer_SelLookUpTableByDealerId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelLookUpTableByDealerIdResponse" message="tns:IDealer_SelLookUpTableByDealerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsVehAlert">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsVehAlert" message="tns:IDealer_InsVehAlert_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsVehAlertResponse" message="tns:IDealer_InsVehAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpSertEmailAddress">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpSertEmailAddress" message="tns:IDealer_UpSertEmailAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpSertEmailAddressResponse" message="tns:IDealer_UpSertEmailAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpSertPhoneNumber">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpSertPhoneNumber" message="tns:IDealer_UpSertPhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpSertPhoneNumberResponse" message="tns:IDealer_UpSertPhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpSertPhoneByPersonGuid">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpSertPhoneByPersonGuid" message="tns:IDealer_UpSertPhoneByPersonGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpSertPhoneByPersonGuidResponse" message="tns:IDealer_UpSertPhoneByPersonGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpSertEmailByPersonGuid">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpSertEmailByPersonGuid" message="tns:IDealer_UpSertEmailByPersonGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpSertEmailByPersonGuidResponse" message="tns:IDealer_UpSertEmailByPersonGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertVehicle">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsertVehicle" message="tns:IDealer_InsertVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsertVehicleResponse" message="tns:IDealer_InsertVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPerson">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsertPerson" message="tns:IDealer_InsertPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/InsertPersonResponse" message="tns:IDealer_InsertPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleByPersonId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleByPersonId" message="tns:IDealer_SelVehicleByPersonId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleByPersonIdResponse" message="tns:IDealer_SelVehicleByPersonId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelPersonByGuid">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonByGuid" message="tns:IDealer_SelPersonByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonByGuidResponse" message="tns:IDealer_SelPersonByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelPersonById">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonById" message="tns:IDealer_SelPersonById_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonByIdResponse" message="tns:IDealer_SelPersonById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelPersonByUserName">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonByUserName" message="tns:IDealer_SelPersonByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonByUserNameResponse" message="tns:IDealer_SelPersonByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelPersonByLastFirstName">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonByLastFirstName" message="tns:IDealer_SelPersonByLastFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPersonByLastFirstNameResponse" message="tns:IDealer_SelPersonByLastFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleById">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleById" message="tns:IDealer_SelVehicleById_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleByIdResponse" message="tns:IDealer_SelVehicleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertVehicleServiceMPI">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertVehicleServiceMPI" message="tns:IDealer_UpsertVehicleServiceMPI_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpsertVehicleServiceMPIResponse" message="tns:IDealer_UpsertVehicleServiceMPI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehiceServiceStatus">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateVehiceServiceStatus" message="tns:IDealer_UpdateVehiceServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/UpdateVehiceServiceStatusResponse" message="tns:IDealer_UpdateVehiceServiceStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServicePackages">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetServicePackages" message="tns:IDealer_GetServicePackages_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetServicePackagesResponse" message="tns:IDealer_GetServicePackages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceTypes">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetServiceTypes" message="tns:IDealer_GetServiceTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/GetServiceTypesResponse" message="tns:IDealer_GetServiceTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelPackageByDealerId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPackageByDealerId" message="tns:IDealer_SelPackageByDealerId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelPackageByDealerIdResponse" message="tns:IDealer_SelPackageByDealerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelNextExpressNumber">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelNextExpressNumber" message="tns:IDealer_SelNextExpressNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelNextExpressNumberResponse" message="tns:IDealer_SelNextExpressNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelServiceTypeEmails">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelServiceTypeEmails" message="tns:IDealer_SelServiceTypeEmails_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelServiceTypeEmailsResponse" message="tns:IDealer_SelServiceTypeEmails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleSvcsByDealerId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleSvcsByDealerId" message="tns:IDealer_SelVehicleSvcsByDealerId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleSvcsByDealerIdResponse" message="tns:IDealer_SelVehicleSvcsByDealerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelVehicleSvcsByPersonId">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleSvcsByPersonId" message="tns:IDealer_SelVehicleSvcsByPersonId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/Dealer/IDealer/SelVehicleSvcsByPersonIdResponse" message="tns:IDealer_SelVehicleSvcsByPersonId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>