V4.0/Services/ATP.SvcsLibrary/Service References/DealerSvcRef/Dealer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ATP.DataModel.DataTables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ATP.DataModel.DataTables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sylesh-001-site2.ctempurl.com/ATPServices/Dealer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDealerEmpMsgDataTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DealerEmpMsgDataTable" nillable="true" type="tns:DealerEmpMsgDataTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDealerEmpMsgDataTable" nillable="true" type="tns:ArrayOfDealerEmpMsgDataTable" />
  <xs:complexType name="DealerEmpMsgDataTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealerEmpGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="MsgId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DealerEmpMsgDataTable" nillable="true" type="tns:DealerEmpMsgDataTable" />
</xs:schema>