V4.0/OutDoor_remove/OutDoor/Service References/OutDoorProxy/OutDoor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50000/OutDoor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATP.DataModel" />
  <xs:element name="VerifyPinGetCustInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isPickUpOrDrop" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="keyLockerPin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPinGetCustInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="VerifyPinGetCustInfoResult" nillable="true" type="q1:ArrayOfuspVerifyPinGetCustInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="GetMakesResult" nillable="true" type="q2:ArrayOfuspSelVehicleMakes_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDealerMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="x" nillable="true" type="q3:uspSelDealerMsg_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDealerMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsDealerMsgResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyLockerSteps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="keyLockerId" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="IsDropOrPickUp" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyLockerStepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="GetKeyLockerStepsResult" nillable="true" type="q4:ArrayOfuspGetKeyLockerSteps_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>