V4.0/OutDoor/Service References/ServiceReference1/OutDoor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50000/OutDoor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATP.DataModel" />
  <xs:import schemaLocation="http://localhost:50000/OutDoor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:50000/OutDoor.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="VerifyPinGetCustInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isPickUpOrDrop" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="keyLockerPin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPinGetCustInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="VerifyPinGetCustInfoResult" nillable="true" type="q1:ArrayOfuspVerifyPinGetCustInfo_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="GetMakesResult" nillable="true" type="q2:ArrayOfuspSelVehicleMakes_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDealerMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="x" nillable="true" type="q3:uspSelDealerMsg_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDealerMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsDealerMsgResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyLockerSteps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="keyLockerId" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="IsDropOrPickUp" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeyLockerStepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="GetKeyLockerStepsResult" nillable="true" type="q4:ArrayOfuspGetKeyLockerSteps_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelAllKeyDropPegByDealerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelAllKeyDropPegByDealerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="SelAllKeyDropPegByDealerIdResult" nillable="true" type="q5:ArrayOfuspSelAllKeyDropPegByDealerId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehiceServiceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vehicleServiceGUID" nillable="true" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vehicleGUID" nillable="true" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="personGUID" nillable="true" type="q8:guid" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:unsignedByte" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="updatedBy" nillable="true" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehiceServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateVehiceServiceStatusResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSeviceAndKeyLockerBucket_TowTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svcInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceStatusId" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="assignedKeyLockerBucketId" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="outdoorKeyDroppedBy" nillable="true" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSeviceAndKeyLockerBucket_TowTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="CreateSeviceAndKeyLockerBucket_TowTruckResult" nillable="true" type="q11:ArrayOfuspCreateSeviceAndKeyLockerBucket_TowTruck_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdtVehicleServiceAndKeyLockerBucket_PhoneCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vehicleServiceGuid" nillable="true" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vehicleGuid" nillable="true" type="q13:guid" />
        <xs:element minOccurs="0" name="svcInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceStatusId" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="assignedKeyLockerBucketId" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="outdoorKeyDroppedBy" nillable="true" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdtVehicleServiceAndKeyLockerBucket_PhoneCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdtVehicleServiceAndKeyLockerBucket_PhoneCustomerResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelVehicleServiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vehicleServiceGuid" nillable="true" type="q15:guid" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vehicleGuid" nillable="true" type="q16:guid" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="personGuid" nillable="true" type="q17:guid" />
        <xs:element minOccurs="0" name="svcFromDt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svcToDt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelVehicleServiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="SelVehicleServiceDetailsResult" nillable="true" type="q18:ArrayOfuspSelVehicleServiceDetails_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelKioskInUSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelKioskInUSEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="SelKioskInUSEResult" nillable="true" type="q19:ArrayOfuspSelKioskInUSE_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertKioskInUSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="usedBy" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lastUsedBy" nillable="true" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertKioskInUSEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpsertKioskInUSEResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="GetServiceTypesResult" nillable="true" type="q21:ArrayOfuspSelSvcTypeByDealerId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInformationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingMe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingMeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingMeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>