MyShopCompInspectionSync/Service References/MyShopProxy/CompInspection32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection" elementFormDefault="qualified" targetNamespace="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.myshopauto.com/ATPServices/CompInspection.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATP.DataModel" />
  <xs:element name="SelAllCompInspectionExportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelAllCompInspectionExportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATP.DataModel" minOccurs="0" name="SelAllCompInspectionExportDataResult" nillable="true" type="q1:ArrayOfuspSelAllCompInspectionExportData_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdtExportToCompInspectionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iD" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="dealerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isFailed" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="failedReaon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdtExportToCompInspectionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdtExportToCompInspectionStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>