V4.0/MyShopOutDoorDealerSide/Service References/ServiceReference1/OutDoor42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ATP.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ATP.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.myshopauto.com/ATPServices/OutDoor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfuspVerifyPinGetCustInfo_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uspVerifyPinGetCustInfo_Result" nillable="true" type="tns:uspVerifyPinGetCustInfo_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuspVerifyPinGetCustInfo_Result" nillable="true" type="tns:ArrayOfuspVerifyPinGetCustInfo_Result" />
  <xs:complexType name="uspVerifyPinGetCustInfo_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceTypeId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FleetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoogleGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InspectionExpMnth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InspectionExpYr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceExpDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastServiceMileage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mileage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextEmisisonDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextInspectionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextServiceDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextSvcInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehBodyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehPhId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="VehicleMake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleServiceGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="VehicleTrim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleYrMkMod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearlyAverageMileage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uspVerifyPinGetCustInfo_Result" nillable="true" type="tns:uspVerifyPinGetCustInfo_Result" />
  <xs:complexType name="ArrayOfuspSelVehicleMakes_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uspSelVehicleMakes_Result" nillable="true" type="tns:uspSelVehicleMakes_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuspSelVehicleMakes_Result" nillable="true" type="tns:ArrayOfuspSelVehicleMakes_Result" />
  <xs:complexType name="uspSelVehicleMakes_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DbErrorLine" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DbErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DbErrorNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DbErrorProcedure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DbErrorSeverity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DbErrorState" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DealerHttpPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DealerOSPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeHttpPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MakeOSPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerHttpPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerId" type="xs:int" />
      <xs:element minOccurs="0" name="ManufacturerOSPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Page" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uspSelVehicleMakes_Result" nillable="true" type="tns:uspSelVehicleMakes_Result" />
  <xs:complexType name="uspSelDealerMsg_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DealerEmpGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="DealerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FromPhNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCustMsg" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMsgToCust" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MsgDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MsgFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgId" type="xs:long" />
      <xs:element minOccurs="0" name="MsgTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ToPhNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TxtMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="VehicleServiceGuid" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uspSelDealerMsg_Result" nillable="true" type="tns:uspSelDealerMsg_Result" />
  <xs:complexType name="ArrayOfuspGetKeyLockerSteps_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uspGetKeyLockerSteps_Result" nillable="true" type="tns:uspGetKeyLockerSteps_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuspGetKeyLockerSteps_Result" nillable="true" type="tns:ArrayOfuspGetKeyLockerSteps_Result" />
  <xs:complexType name="uspGetKeyLockerSteps_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsCustomerOrDealerSide" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDroporPickUp" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="KeyLockerPegId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NoOfRotationCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfRotationDealer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StepCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StepDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StepId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StepReading" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uspGetKeyLockerSteps_Result" nillable="true" type="tns:uspGetKeyLockerSteps_Result" />
  <xs:complexType name="ArrayOfuspSelAllKeyDropPegByDealerId_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uspSelAllKeyDropPegByDealerId_Result" nillable="true" type="tns:uspSelAllKeyDropPegByDealerId_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuspSelAllKeyDropPegByDealerId_Result" nillable="true" type="tns:ArrayOfuspSelAllKeyDropPegByDealerId_Result" />
  <xs:complexType name="uspSelAllKeyDropPegByDealerId_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceTypeId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoogleGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyLockerPegId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfRotationCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfRotationDealer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceStatus" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ServiceStatusColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceStatusColorForeGround" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceStatusDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="VehicleMake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleServiceGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="VehicleTrim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleYrMkMod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uspSelAllKeyDropPegByDealerId_Result" nillable="true" type="tns:uspSelAllKeyDropPegByDealerId_Result" />
  <xs:complexType name="ArrayOfuspCreateSeviceAndKeyLockerBucket_TowTruck_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="uspCreateSeviceAndKeyLockerBucket_TowTruck_Result" nillable="true" type="tns:uspCreateSeviceAndKeyLockerBucket_TowTruck_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuspCreateSeviceAndKeyLockerBucket_TowTruck_Result" nillable="true" type="tns:ArrayOfuspCreateSeviceAndKeyLockerBucket_TowTruck_Result" />
  <xs:complexType name="uspCreateSeviceAndKeyLockerBucket_TowTruck_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uspCreateSeviceAndKeyLockerBucket_TowTruck_Result" nillable="true" type="tns:uspCreateSeviceAndKeyLockerBucket_TowTruck_Result" />
</xs:schema>