V4.0/V4.0_remov/V4.0/OutDoor/Service References/OutDoorProxy/OutDoor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OutDoor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50000/OutDoor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50000/OutDoor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50000/OutDoor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATP.DataModel" />
      <xsd:import schemaLocation="http://localhost:50000/OutDoor.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOutDoor_VerifyPinGetCustInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPinGetCustInfo" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_VerifyPinGetCustInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPinGetCustInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_GetMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMakes" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_GetMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMakesResponse" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_InsDealerMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:InsDealerMsg" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_InsDealerMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsDealerMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_GetKeyLockerSteps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyLockerSteps" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_GetKeyLockerSteps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyLockerStepsResponse" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_SelAllKeyDropPegByDealerId_InputMessage">
    <wsdl:part name="parameters" element="tns:SelAllKeyDropPegByDealerId" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_SelAllKeyDropPegByDealerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelAllKeyDropPegByDealerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_UpdateVehiceServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehiceServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IOutDoor_UpdateVehiceServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehiceServiceStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IOutDoor">
    <wsdl:operation name="VerifyPinGetCustInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutDoor/VerifyPinGetCustInfo" message="tns:IOutDoor_VerifyPinGetCustInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutDoor/VerifyPinGetCustInfoResponse" message="tns:IOutDoor_VerifyPinGetCustInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMakes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutDoor/GetMakes" message="tns:IOutDoor_GetMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutDoor/GetMakesResponse" message="tns:IOutDoor_GetMakes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsDealerMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutDoor/InsDealerMsg" message="tns:IOutDoor_InsDealerMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutDoor/InsDealerMsgResponse" message="tns:IOutDoor_InsDealerMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyLockerSteps">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutDoor/GetKeyLockerSteps" message="tns:IOutDoor_GetKeyLockerSteps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutDoor/GetKeyLockerStepsResponse" message="tns:IOutDoor_GetKeyLockerSteps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelAllKeyDropPegByDealerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutDoor/SelAllKeyDropPegByDealerId" message="tns:IOutDoor_SelAllKeyDropPegByDealerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutDoor/SelAllKeyDropPegByDealerIdResponse" message="tns:IOutDoor_SelAllKeyDropPegByDealerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehiceServiceStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutDoor/UpdateVehiceServiceStatus" message="tns:IOutDoor_UpdateVehiceServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutDoor/UpdateVehiceServiceStatusResponse" message="tns:IOutDoor_UpdateVehiceServiceStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesFirstEndPoint" type="tns:IOutDoor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyPinGetCustInfo">
      <soap:operation soapAction="http://tempuri.org/IOutDoor/VerifyPinGetCustInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMakes">
      <soap:operation soapAction="http://tempuri.org/IOutDoor/GetMakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsDealerMsg">
      <soap:operation soapAction="http://tempuri.org/IOutDoor/InsDealerMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyLockerSteps">
      <soap:operation soapAction="http://tempuri.org/IOutDoor/GetKeyLockerSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelAllKeyDropPegByDealerId">
      <soap:operation soapAction="http://tempuri.org/IOutDoor/SelAllKeyDropPegByDealerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehiceServiceStatus">
      <soap:operation soapAction="http://tempuri.org/IOutDoor/UpdateVehiceServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutDoor">
    <wsdl:port name="ServicesFirstEndPoint" binding="tns:ServicesFirstEndPoint">
      <soap:address location="http://localhost:50000/OutDoor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>