MyShopComp/Service References/MyShopProxy/CompInspection21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/Imports">
      <xsd:import schemaLocation="http://myshopauto.com/ATPServices/CompInspection.svc?xsd=xsd0" namespace="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection" />
      <xsd:import schemaLocation="http://myshopauto.com/ATPServices/CompInspection.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://myshopauto.com/ATPServices/CompInspection.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATP.DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompInspection_SelAllCompInspectionExportData_InputMessage">
    <wsdl:part name="parameters" element="tns:SelAllCompInspectionExportData" />
  </wsdl:message>
  <wsdl:message name="ICompInspection_SelAllCompInspectionExportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelAllCompInspectionExportDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICompInspection_UpdtExportToCompInspectionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdtExportToCompInspectionStatus" />
  </wsdl:message>
  <wsdl:message name="ICompInspection_UpdtExportToCompInspectionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdtExportToCompInspectionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ICompInspection_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="ICompInspection_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ICompInspection_LogInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInformation" />
  </wsdl:message>
  <wsdl:message name="ICompInspection_LogInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompInspection">
    <wsdl:operation name="SelAllCompInspectionExportData">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/ICompInspection/SelAllCompInspectionExportData" message="tns:ICompInspection_SelAllCompInspectionExportData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/ICompInspection/SelAllCompInspectionExportDataResponse" message="tns:ICompInspection_SelAllCompInspectionExportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdtExportToCompInspectionStatus">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/ICompInspection/UpdtExportToCompInspectionStatus" message="tns:ICompInspection_UpdtExportToCompInspectionStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/ICompInspection/UpdtExportToCompInspectionStatusResponse" message="tns:ICompInspection_UpdtExportToCompInspectionStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/ICompInspection/LogError" message="tns:ICompInspection_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/ICompInspection/LogErrorResponse" message="tns:ICompInspection_LogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInformation">
      <wsdl:input wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/ICompInspection/LogInformation" message="tns:ICompInspection_LogInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ADAMCentralUSA.com/ADAM/Service/CompInspection/ICompInspection/LogInformationResponse" message="tns:ICompInspection_LogInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>